<main class="for-rent">
    <div class="header">
    <h1>Available houses for rent</h1>
    <form method="GET" action="/for-rent/search" class="for-rent-search">
    <select name="location" class="for-rent-search-input">
        {{#each locationList}}
                {{#if_eq this ""}}
                    {{#if_eq this ../currentSearchValue}}
    ...             <option value="{{this}}" selected >Any location</option>
                    {{else}}
                    <option value="{{this}}">Any location</option>
                    {{/if_eq}}
                {{else}}
                    {{#if_eq this ../currentSearchValue}}
                    <option value="{{this}}" selected >{{this}}</option>
                    {{else}}
                    <option value="{{this}}" >{{this}}</option>
                    {{/if_eq}}
    ...             
                {{/if_eq}}
            
        {{/each}}
    </select>
    <button type="submit" class="search-btn">Search</button>
</form>
</div>
<div class="houses-list-container">
        {{#each housesList}}
            {{#if this.active}}
    <div class="house-card">
        <div>
            <img src="{{photo}}" class="house-card-img">
        </div>
        <div class="house-card-info">
                <h2 class="house-title line-clamp-2">{{this.title}}</h2>
                <span class="price">{{this.price}} €/month</span>
                <div class="house-card-info-icon ">
                    <i class="fas fa-map-marker-alt house-info-icon"></i>
                    <h2 class="house-info-w-icon line-clamp-1">{{this.location}}</h2>
                </div>
                <div class="house-info-measures">
                    <div class="house-card-info-icon">
                        <i class="fas fa-bed house-info-icon"></i>
                        <h2 class="house-info-w-icon">{{this.rooms}}</h2>
                        <h2>{{this.area}}m²</h2>
                    </div>
                </div>
                <div class="house-info-btn-container">
                    <a href="/house/{{this._id}}" class="search-btn" id="house-info-btn">view house</a>
                </div>
                
            
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>
</main>
