<div class="profile-container">
    <div class="header">
    <h1>Welcome {{user.username}}</h1>
    </div>
    <main class="profile-main">
        <div class="profile-house-list">
            

        </div>
        <div class="profile-contact-details">
            <form method="POST" action="/profile">
                <p>Contact information:</p>
                <p>{{user.contact}}</p>
                <label>Update your contact details:</label>
                <textarea name="contact" required placeholder="ContactInfo"></textarea>
                <button type="submit"><i class="fas fa-pen edit-profile-icon"></i></button>

            </form>

        </div>

    </main>
    <h3>{{user.contact}}</h3>
    <a href="/new-house">New house</a>
    {{#each userHouses}}
        {{this.title}}
        <a href="/house/{{this._id}}/update">Edit</a>
        <form method="POST" action="/house/{{this._id}}/delete">
            <button type="submit">Delete</button>
        </form>
    {{/each}}
</div>
