<h1>Profile page</h1>
<h3>{{user.username}}</h3>
<h3>{{user.contact}}</h3>
{{#each userHouses}}
    {{this.title}}
    <a href="/house/{{this._id}}/manage">Delete</a>
    <a href="/house/{{this._id}}/manage">Edit</a>
{{/each}}