
    <main class="profile-main">
    <div class="header">
    <h1>Welcome {{user.username}}</h1>
    </div>
<div class="profile-container">
            <div class="profile-house-list">
                <h2 class="profile-house-list-header">Your adds:</h2>
                <table class="profile-table">
	<col style="width:35%">
	<col style="width:15%">
	<col style="width:10%">
	<col style="width:10%">
	<col style="width:10%">
	<col style="width:10%">
	<col style="width:20%">
  <tr class="profile-table-header">
    <th>Title</th>
    <th>Location</th>
    <th class="hidde">m²</th>
    <th class="hidde">Nº rooms</th>
    <th>Price</th>
    <th class="hidde">Add status</th>
    <th>Manage house</th>
  </tr>
      {{#each userHouses}}
          {{#if this.active}}
      <tr class="green">
          <td>{{this.title}}</td>
          <td>{{this.location}}</td>
          <td class="profile-table-column-centered hidde">{{this.area}}</td>
          <td class="profile-table-column-centered hidde">{{this.rooms}}</td>
          <td class="profile-table-column-centered">{{this.price}}</td>
          <td class="profile-table-column-centered hidde">Active</td>
          <td class="profile-table-manage"><a href="/house/{{this._id}}/update" class="profile-table-manage-btn"><i class="fas fa-pen edit-profile-icon"></i></a>
        <form method="POST" action="/house/{{this._id}}/delete">
            <button type="submit" class="profile-table-manage-btn"><i class="fas fa-trash-alt edit-profile-icon"></i></button>
        </form>
        </td>
      </tr>
      {{else}}
        <tr class="red">
          <td>{{this.title}}</td>
          <td>{{this.location}}</td>
          <td class="hidde">{{this.area}}</td>
          <td class="hidde">{{this.rooms}}</td>
          <td>{{this.price}}</td>
          <td class="hidde">Inactive</td>
          <td class="profile-table-manage"><a href="/house/{{this._id}}/update" class="profile-table-manage-btn"><i class="fas fa-pen edit-profile-icon"></i></a>
        <form method="POST" action="/house/{{this._id}}/delete">
            <button type="submit" class="profile-table-manage-btn"><i class="fas fa-trash-alt edit-profile-icon"></i></button>
        </form></td>
      </tr>
      {{/if}}
      {{/each}}
</table>
<div class="profile-new-house-btn-container">
  <a href="/new-house" class="profile-new-house-btn">+ new house</a>
</div>


</div>
            


        <div class="profile-contact-details">
            <form method="POST" action="/profile">
                <h3>Contact information:</h3>
                <p class="profile-contact-details-current">{{user.contact}}</p>
                <label>Update your contact details:</label>
                <textarea name="contact" required placeholder="Your contact details:" class="profile-contact-details-form"></textarea>
                <button type="submit" class="profile-contact-details-edit-btn"><i class="fas fa-pen edit-profile-icon"></i>Update</button>
            </form>

        </div>

    </main>